@model DBReading.ViewModels.ContactViewModel
@{
    ViewBag.Title = "Success";
}

<h2>Success</h2>
<div>
    Thank you @Model.FullName, <br />
    You message has been successfully submitted!
</div>

